include ./components

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" type="text/css" href="common.css")
		title
			block title

	body
		block content


